@model AvicoApp.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="@Model.PictureUrl" alt="First slide">
            </div>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvgGrade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvgGrade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
